<table>
  <tr>
   
    <th colspan="2"></th>
  </tr>
  <% @message.each do |message|%>

    <tr>
      <td><%= message.to %></td>
      <td><%= message.from %></td>
       <td><%= message.subject %></td>
       <td><%= message.body[0..10].to_s.html_safe %></td>
      <td><%= link_to "Download Attachment", message.attachment_url %></td>
      <td><%= link_to 'view', message_path(message) %></td>
     
    </tr>
  <% end %>
</table>