
<%= search_form_for @q , url: get_inbox_path do |f| %>
  <div class="field">
    <%= f.label :subject_or_body_cont, "Name contains" %>
    <%= f.text_field :subject_or_body_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
<%=link_to "Settings"%>


<table>
  <tr>
  <%= will_paginate @message%>

    <th>From</th>
    <th>Subject</th>
    
    <th>body</th>
    <th>file</th>

    <th colspan="2"></th>
  </tr>
  <% @message.each do |message|%>

    <tr>
      <td><%#= message.to %></td>
      <td><%= message.from %></td>
       <td><%= message.subject %></td>
       <td><%= message.body[0..10].to_s.html_safe %></td>
       <td><%#= message.body.to_s.html_safe %></td>
      <td><%= link_to "Download Attachment", message.attachment_url %></td>
      <td><%= link_to "Favorite" , favorite_update_path(id: message) %>
        <td><%= button_to "Delete",  message, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{message.attachment}?" %></td>
      <td><%#= message.attachment_url %></td>
      <td><%= link_to 'view', message_path(message) %></td>
     
    </tr>
  <% end %>
</table>