
<%= search_form_for @search , url:message_index_path do |f| %>
  <div class="field">
    <%= f.label :subject_or_body_cont, "Name contains" %>
    <%= f.text_field :subject_or_body_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>











<h1> VIEW TO ALL MAILS </h1>
<table>
<%= will_paginate @message%>


  <!-- <tr>
    <th>TO</th>
    <th>Subject</th>
    
    <th>body</th>
    <th>file</th>

    <th colspan="2"></th>
  </tr> -->
  <% @message.each do |message|%>

    <tr>
      <td><%= message.to %></td>
      <td><%#= message.from %></td> 
       <td><%= message.subject %></td>
       <td><%= message.body[0..10].html_safe %></td>
      <td><%#= message.attachment_url %></td>
      <td><%#= link_to "Download Attachment", message.attachment_url %></td>
       <td><%= link_to "Download Attachment", message.attachment_url %></td>

        <td><%=link_to "Delete",message, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{message.attachment}?" %></td>
      <td><%= link_to 'view', message_path(message)%></td>
     <%#= current_user.mailbox.inbox.unread.count %>
    </tr>
  <% end %>
</table>
<%= link_to "back",   home_index_path%>

         