<!DOCTYPE html>
<html>
<head>
  <title>Msgmaill</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

 <script type="text/javascript" src="https://cdn.jsdelivr.net/jdenticon/1.3.2/jdenticon.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>

	<%if current_user.image_identifier.present? %>
		<%= image_tag current_user.image_url.to_s%>
	<%else%>
		<canvas width="80" height="80" data-jdenticon-hash="<%= jdenticon%>"></canvas>
	<%end%>		                                                                                                                  
<%#= image_tag current_user.image_url.to_s,eight:"100", width: "100" if current_user.image.present? %>
                                                                                       

 <%#= link_to current_user.username%>
 <%= link_to current_user.username, edit_profile_path %>
 <%#= link_to 'Edit profile', edit_user_registration_path %>
<%# link_to "Logout" , destroy_user_session_path %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<%else%>
<%= link_to 'Sign up ' ,new_user_registration_path %> |
<%= link_to 'Login' , new_user_session_path %>

	

<%end%>	
<%= yield %>

</body>
</html>
